<!DOCTYPE html>
<html>

<head>
  <title>Forget Password Email</title>
</head>

<body>
  <div>
    <h3>亲爱的 {{name}},</h3>
    <p>你请求了密码重置, 请点击链接 <a href="{{url}}">link</a> 来重设你的密码</p>
    <br>
    <p>Cheers!</p>
  </div>
</body>

</html>